---
import { SEO } from "astro-seo";
import Resets from '@julian_cataldo/astro-resets/Resets.astro';

import '../styles/root.css';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Permanent+Marker&display=swap" rel="stylesheet">

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<SEO
			description="RamoSites offers bespoke website design and development with high-quality code, perfect for creatives, entrepreneurs, content creators, live streamers, musicians, artists, and small businesses. Elevate your brand with our user-centric, expertly crafted websites."
			openGraph={{
				basic: {
				title: "RamoSites",
				type: "website",
				image: "https://ramosites.com/RamoSitesOGimg.png",
				}
			}}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />

		<Resets
			removeAllMargins={true}
			fontSmoothing={true}
			fontSystem={true}
			scrollSmooth={true}
			borderBox={true}
			scrollBarKeep={true}
		/>

		<title>RamoSites // {title}</title>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<slot name="bodybottom" />
	</body>
</html>
<style is:global>
	html {
		font-size: var(--font-size-desktop);
		color: var(--text-color);
		background-color: var(--background-color);
	}
	body {
		font-family: var(--font-primary);
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		font-display: optional;
	}
	main {
		margin: 0 auto;
		width: 100%;
		max-width: var(--body-width);
		padding: var(--body-padding-desktop);
	}
	@media (max-width: 1200px) {
		html {
			font-size: var(--font-size-mobile);
		}
		main {
			padding: var(--body-padding-mobile);
		}
	}
</style>
<style is:inline>
    a { color: var(--accent-contrast); }
	a:hover { color: var(--accent); }
</style>